.container{
 display: flex;
 margin-top: 150px;
   max-width: 50%;
}
.btns{
    margin-left: 1rem;
    margin-top: 1rem;    
}

#message{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}