<div class="container">
  <form class="row g-3 needs-validation" novalidate>
      <div class="col-md-6">
          <div class="form-outline">
              <input type="text" class="form-control" id="validationCustom01" maxlength="3" required />
              <label for="validationCustom01" class="form-label">Nome Completo*</label>
          </div>
      </div>

      <div class="col-md-6">
          <div class="form-outline">
              <input type="text" class="form-control" id="validationCustom01" required />
              <label for="validationCustom01" class="form-label">CPF*</label>

          </div>
      </div>

      <div class="col-md-6">
          <div class=" form-outline">
              <input type="text" class="form-control" id="validationCustomUsername"
                  aria-describedby="inputGroupPrepend" required />
              <label for="validationCustomUsername" class="form-label">Email*</label>

          </div>
      </div>
      <div class="col-md-6">
          <div class="form-outline">
              <input type="tel" class="form-control" id="validationCustom03" required />
              <label for="validationCustom03" class="form-label">Telefone*</label>

          </div>
      </div>
      <div class="col-md-6">
          <div class="form-outline">
              <input type="text" class="form-control" id="validationCustom05" required />
              <label for="validationCustom05" class="form-label">Celular*</label>
          </div>
      </div>

  <div class="btns">
    <button type="button" class="btn btn-warning" (click)="onEdit()">Atualizar</button>&nbsp;
    <button type="button" class="btn btn-danger">Excluir</button>
  </div>
    