
<canvas class="my-4 w-100" id="myChart" width="900" height="20"></canvas>

<h1 id="title">Listagem de Contribuentes</h1>
<div class="table-responsive" id="tbl">
  <table class="table table-hover">
    <thead >
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>Endereço</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contribuente of contribuentes">
        <td (click)="openModal($event)">{{contribuente.id}}</td>
        <td (click)="openModal($event)">{{contribuente.nome}}</td>
        <td (click)="openModal($event)">{{contribuente.email}}</td>
        <td (click)="openModal($event)">{{contribuente.cpf}}</td>
        <td (click)="openModal($event)">{{contribuente.telefone}}</td>
        <td (click)="openModal($event)">{{contribuente.celular}}</td>
        <td (click)="openModal($event)" id="tdBtn">
           Endereço 
        </td> 
        <td>  <div class="butoes">
         <button routerLink="/Editar" type="button" class="btn btn-outline-warning" (click)="onEdit(contribuente.id)">Editar</button> &nbsp;
        <button type="button" class="btn btn-outline-danger" (click)="removeContribuentes(contribuente)">Excluir</button> 
        </div></td>
      
      </tr>
      
    </tbody>
  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Endereços</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close" (click)="doSomething()">x</button>
        </div>
      <canvas class="my-4 w-100" id="myChart" width="1000" height="20"></canvas>
<div class="table-responsive">
  <table class="table table-hover">
    <thead >
      <tr class="lineSubtitle">
        <th  >Rua</th>
        <th >Numero</th>
        <th >Bairro</th>
        <th >Cidade</th>
        <th >Cep</th>
        <th >Estado</th>
        <th >País</th>
       
      </tr>
    </thead>
    <tbody>
      <div *ngFor="let contribuente of contribuentes" >
        <div *ngIf="item[0] == contribuente.id.toString()" >
          <tr *ngFor="let endereco of contribuente.enderecos">
            <th>{{endereco.rua}}</th>
            <th>{{endereco.numero}}</th>
            <th>{{endereco.bairro}}</th>
            <th>{{endereco.cidade}}</th>
            <th>{{endereco.cep}}</th>
            <th>{{endereco.estado}}</th>
            <th>{{endereco.pais}}</th>
          </tr>
        </div>
      </div>
    
    </tbody>
  </table>
</div>
      </div>
    </div>
  </div>