<canvas class="my-4 w-100" id="myChart" width="900" height="20"></canvas>

<h2 id="title">Listagem de Contribuentes</h2>
<div class="table-responsive" id="tbl">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>Endereço</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contribuente of contribuentes">
        <td>{{contribuente.id}}</td>
        <td >{{contribuente.nome}}</td>
        <td>{{contribuente.email}}</td>
        <td>{{contribuente.cpf}}</td>
        <td>{{contribuente.telefone}}</td>
        <td>{{contribuente.celular}}</td>
        <td>
            <button type="button" class="btn btn-ligth" data-mdb-ripple-color="dark" (click)="openModal()">Endereço</button>
        </td> 
        <td>  <div class="butoes">
         <button routerLink="/Editar" type="button" class="btn btn-outline-warning" (click)="onEdit()">Editar</button> &nbsp;
        <button type="button" class="btn btn-outline-danger" (click)="removeContribuentes(contribuente)">Excluir</button> 
        </div></td>
      
      </tr>
      
    </tbody>
  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Endereços</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="doSomething()">X</button>
        </div>
      <canvas class="my-4 w-100" id="myChart" width="1000" height="20"></canvas>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Rua</th>
        <th>Numero</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Cep</th>
        <th>Estado</th>
        <th>País</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contribuente of contribuentes">
       
          <th>{{contribuente.enderecos[0].rua}}</th>
          <th>{{contribuente.enderecos[0].numero}}</th>
          <th>{{contribuente.enderecos[0].bairro}}</th>
          <th>{{contribuente.enderecos[0].cidade}}</th>
          <th>{{contribuente.enderecos[0].cep}}</th>
          <th>{{contribuente.enderecos[0].estado}}</th>
          <th>{{contribuente.enderecos[0].pais}}</th>
         

      </tr>
    
    </tbody>
  </table>
</div>
      </div>
    </div>
  </div>