<nav class="navbar" style="background-color:#0772B3" >
  <div class="container-fluid" id="navBar">
    <a class="navbar-brand" routerLink="/">
      <img src="https://www.sefaz.se.gov.br/Biblioteca%20de%20Arquivos/IMAGENS/prevencao_a_corrupcao.png" alt="" width="350" height="100" class="d-inline-block align-text-top">
    </a>
    <a id="cds" routerLink="/Cadastro">Cadastra Novo dado</a>
  </div>
</nav>



<router-outlet></router-outlet>


<div class="container" >
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted" id="txt">&copy; SEFAZ - Secretária De Estado Da Fazenda</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

   
  </footer>
</div>
