
h1{
    padding-top: 20px;
    text-align: center;
    padding-bottom:40px ;
    font-weight: bold;
}
.title{
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#btn{
    margin-top: 3rem;
}

.container-main{
    margin-left: 20rem;
}